<div class="container text-center general-info">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
      <h1>Reservas</h1><br>

      <!--<input type="text" name="daterange" value="" />-->
      <div id='calendar'></div>

    </div>
  </div>
</div>



<<<<<<< HEAD
=======
<%# form_tag room_schedules_path%>
<%# end %>


>>>>>>> js_integration

<script>

var calendarEl = document.getElementById('calendar');

var calendar = new FullCalendar.Calendar(calendarEl, {
  plugins: [ 'timeGrid' ],
  defaultView: 'timeGridWeek',
  locale: 'en',
  height: 550,
  timeFormat: 'h(:mm)a'
});

 calendar.render();

</script>
