<h1>Horarios</h1>

 <% @schedules.each do |s| %>
    <% if Reservation.where(schedule_id: s.id).empty? %>
    <p><%= s.name %></p>
    <% else %>
    <p><%= Reservation.where(schedule_id: s.id).first.suscription.user.name %></p>
    <% end %>
 <% end %>
