
<div class="container text-center general-info">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Reservas</h1><br>

      <input type="text" id="rangepicker">
      
    </div>
  </div>
</div>



<script>
  $("#rangepicker").daterangepicker();
</script>
