<div class="container">
  <div class="row">
  
  <h1>Reservas</h1>

  <div id="external-events" class="col-sm-2 col-md-2 text-center">
    <p>
      <strong>Selección de Horarios</strong>
    </p>

    <div class="input-group col-md-12 col-sm-12">
      <span class="input-group-addon" id="date-picker">Fecha</span>
      <input type='text' id="date-pick" class='datepicker-here form-control' data-language='es' data-date-format='yyyy-mm-dd' aria-describedby="date-picker"/>
      <input type="hidden" id="roow_id" value=<%= @room_id %>>
      <input type="hidden" id="suscription_id" value=<%= @active_suscription.id %>>
    </div><br>

    <div class="input-group col-md-12 col-sm-12">
      <span class="input-group-addon" id="time-picker-label">Hora</span>
      <input type='text' id="time-picker" class='form-control' data-language='es' aria-describedby="time-picker"/>
    </div><br>
      
    
    <div class="btn-group-vertical" role="group">
        <div class="fc-event btn btn-primary">8:00 am 10:00 am</div>
        <div class="fc-event btn btn-primary">10:00 am 12:00 pm</div>
        <div class="fc-event btn btn-primary">12:00 pm 02:00 pm</div>
        <div class="fc-event btn btn-primary">2:00 pm 4:00 pm</div>
        <div class="fc-event btn btn-primary">4:00 pm 6:00 pm</div>
        <div class="fc-event btn btn-primary">6:00 pm 8:00 pm</div>
        <div class="fc-event btn btn-primary">8:00 pm 10:00 pm</div>
    </div>
  </div>

    <div class="col-sm-8 col-md-8 col-sm-offset-1 col-md-offset-1">
      <div id='calendar'></div>
    </div>
  </div>
</div>


<script>

</script>
