<div class="container text-center general-info">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <table class="table">
        <tr>
          <th>Lunes</th>
        </tr>
        <tr>

        </tr>
        <% @schedules.each do |s| %>
        <% if Reservation.where(schedule_id: s.id).empty? %>
        <tr><td><%= s.name %></td></tr>
        <% else %>
        <tr><td><%= Reservation.where(schedule_id: s.id).first.suscription.user.name %></td></tr>
        <% end %>
        <% end %>

      </table>
    </div>
  </div>
</div>
