<div class="container text-center general-info">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Cabinas</h1><br>

      <% @rooms.each do |r| %>
      <%= link_to r.name, room_schedules_path(r), class: "btn btn-primary" %>
      <br>
      <br>
      <% end %>
    </div>
  </div>
</div>
